In [1]:
items = spy.search({
    'Path': 'Example >> Cooling Tower 1 >> Area A',
    'Name': 'Compressor'
})

items

,ID,Path,Asset,Name,Description,Type,Value Unit Of Measure,Datasource Name,Archived
0,30FAD631-FE7D-4768-9BE7-5A44B021B161,Example >> Cooling Tower 1,Area A,Compressor Power,NaN,StoredSignal,kW,Example Data,False
1,C81F2E04-A76E-4842-A0A9-310ECC2E877A,Example >> Cooling Tower 1,Area A,Compressor Stage,PCompressor.PV,StoredSignal,string,Example Data,False